POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=notorium
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notorium

BETTER_AUTH_SECRET=61a80df8b9ea0b1be745a30aee325f02fa386b22501a14d45f866145051d683b
BETTER_AUTH_URL=http://localhost:3000
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
